body {
    margin:0;
    padding:0;
    color:#000E41;
    background-color:#004080;
}

h1 {
    padding:0 lem;
    color:#222;
}
a{text-decoration:none}


#main {
    padding:0;
}

#form-area {
    padding:0.5em 2em;
    background-color:#8b9aa9;
}

#uploadzone{
    background-color: #ddd;
}

#entries-area {
    padding:0.5em 2em;
    background-color:#FFFFFF;
}

.entry p {
    padding:0.5em lem;
    background-color:#DBDBFF;
}

textarea{
    background-color:#eee;
    height:120px;
    width:700px;
}

pre code ul {
	list-style: decimal;
	margin: 0px 0px 0 30px !important;
	padding: 0px;
}
pre code ul li {
	list-style: decimal-leading-zero;
	border-left: 1.5px solid #03ea27 !important;
	padding: 5px!important;
	margin: 0 !important;
	line-height: 14px;
	word-break: break-all;
	word-wrap: break-word;
}

